@using WebAppAspLayered.Models.Books
@using WebAppAspLayered.Models.Pagination
@model (PageIndex<BookDto> PageIndex, BookFilterFormDto Filter)

@{
    ViewData["Title"] = "Books page";
}

<h1>Books</h1>

<form asp-action="Index" asp-controller="Book" method="get">
    <div class="container">
        <div class="row">
            <div class="col">
                <label id="ISBN">ISBN</label>
                @* name attribute should the property name of BookFilterFormDto <ISBN>*@
                <input for="ISBN" name="ISBN" value="@Model.Filter.ISBN" />
            </div>

            <div class="col">
                <label id="Name">Name</label>
                @* name attribute should the property name of BookFilterFormDto <Name>*@
                <input for="Name" name="Name" value="@Model.Filter.Name" />
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create">Add a book</a>
</p>

@if (Model.PageIndex.Items.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    FAV
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageIndex.Items[0].ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageIndex.Items[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageIndex.Items[0].Author)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.PageIndex.Items) {
            <tr>
                <td>
                    <a asp-action="AddFavorite">
                       <img src="assets/star-uncheck.png" style="width:2rem" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a class="btn btn-success"
                       asp-controller="Cart"
                       asp-action="AddItem"
                       asp-route-productId="@item.Id">Add to cart</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
   
    @await Html.PartialAsync("Partials/_Pagination", Model.PageIndex.Meta)
}
else
{
    <p>Pas de produit trouvé!</p>
}